/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Poor-mans normalize, * means all site is effected */
/* Hide submenu, leave this to kmom02 */
/* Hide responsive/mobile menu, leave this to kmom02 */
/* kmom01: make site style easier to use */
/* Container */
/*    radius: 30%;*/
/* :: clears all float after element row */
/* Header */
/*Main*/
/* textelementet */
/* sidebaren */
/* redovisa-sidan */
/* Byline */
/* Footer */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  background-color: #bc8f8f;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #bc8f8f;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
article {
  min-height: 300px;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 100%;
  margin: 0 auto;
}
/* Hide submenu, leave this to kmom02 */
/* Hide responsive/mobile menu, leave this to kmom02 */
.wrap-all {
  max-width: 900px;
  margin: 0 auto;
  background-color: #d9bfbf;
  /*    radius: 30%;*/
}
.outer-wrap {
  width: 100%;
  overflow: auto;
}
.inner-wrap {
  width: 80%;
  margin: 0 auto;
}
/* :: clears all float after element row */
.row::after {
  clear: both;
}
/*Main*/
.inner-wrap-main {
  padding: 30px 0;
}
.site-logo {
  display: none;
}
.img-right {
  float: right;
  padding: 10px;
}
.row {
  padding: 0px;
}
.index-text {
  padding: 5px 0;
}
/* textelementet */
.region-main .has-sidebar-right {
  display: inline;
  float: left;
  width: 63%;
  margin-right: 3%;
  margin-left: 0.52083333%;
}
/* sidebaren */
.wrap-sidebar .block {
  padding: 10px;
  margin: 5px;
}
h4 {
  font-size: 18px;
}
/* main and sidebars */
.region-sidebar-left,
.region-sidebar-right {
  display: inline;
  float: left;
  width: 20%;
  margin-left: 0.52083333%;
  margin-right: 0.52083333%;
  list-style-type: none;
}
.outer-wrap.outer-wrap-breadcrumb {
  font-size: 18px;
  padding: 10px 0;
}
.next {
  float: right;
  padding: 10px;
}
.previous {
  padding: 10px;
}
.next,
.previous a {
  background-color: #cfafaf;
  padding: 7px;
  border-radius: 10%;
}
p {
  margin-top: 10px;
}
/*markdown*/
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar resp - rm-desktop holder for navbarmenu
 */
@media screen and (max-width: 500px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  .region-header-col-1,
  .region-header-col-3 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
