/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor-mans normalize, * means all site is effected */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* kmom01: make site style easier to use */

html {
    background-color: #bc8f8f;
}

body {
    background-color: #bc8f8f;
}

/* Container */

.wrap-all {
    max-width: 900px;
    margin: 0 auto;
    background-color: #d9bfbf;
/*    radius: 30%;*/
}

.outer-wrap {
    width: 100%;
    overflow: auto;
}

.inner-wrap {
    width: 80%;
    margin: 0 auto;
}

/* :: clears all float after element row */
.row::after {
    clear: both;
}

/* Header */

.region-header-col-1 {
    float: left;
    width: 20%;
}

.region-header-col-2 {
    float: left;
    width: 76%;
    margin-right: 10px;
}

.my-navbar {
    padding: 20px;
    list-style-type: none;
}

.my-navbar li {
    display: inline;
    padding: 10px 10px;
    background-color: #d9bfbf;
}

.my-navbar a {
    font-size: 18px;
}

.site-logo-text {
    font-size: 28px;
}

.img {
    width: 80%;
}

.outer-wrap.outer-wrap-flash {
    overflow: hidden;
    width: 92%;
}

.noscroll {
  overflow: hidden;
}

/*Main*/

.inner-wrap-main {
    padding: 30px 0;
}

.site-logo {
    display: none;
}

.img-right {
    float: right;
    padding: 10px;
}

.row {
    padding: 0px;
}

.index-text {
    padding: 5px 0;
}

/* textelementet */

.region-main.has-sidebar-right {
    display: inline;
    float: left;
    width: 65.625%;
    margin-right: 3%;
    margin-left: .52083333%;
}

/* sidebaren */

.wrap-sidebar .block {
    padding: 10px;
    margin: 5px;
}

h4 {
    font-size: 18px;
}

/* redovisa-sidan */
.region-sidebar-left, .region-sidebar-right {
    display: inline;
    float: left;
    width: 28.125%;
    margin-left: .52083333%;
    margin-right: .52083333%;
    list-style-type: none;
}

.outer-wrap.outer-wrap-breadcrumb {
    font-size: 18px;
    padding: 10px 0;
}

.next {
    float: right;
    padding: 10px;
}

.previous {
    padding: 10px;
}

.next, .previous a {
    background-color: #cfafaf;
    padding: 7px;
    border-radius: 10%;
}

p {
    margin-top: 10px;
}

/* Byline */

.left {
    float: left;
    padding: 20px 10px 10px 0;
}

.byline-text {
    font-size: 14px;
    padding: 30px 0;
}

/* Footer */

.outer-wrap-footer {
    background-color: #bc8f8f;
    color: white;
}

.inner-wrap-footer {
    padding: 20px 0;
}

.region-footer .block {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.footer-column {
    width: 33%;
    float: left;
}

p.copyright {
    font-size: 12px;
    color: black;
}
