@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Mono|Gupter|Amatic+SC&display=swap');

html {
    background-color: #e2dbd0;
}

// ul a {
//     font-family: "Amatic SC", sans-serif; //Josefin Sans
//     font-size: 30px;
// }

.site-logo-text a { // "design"
    font-family: "Amatic SC", sans-serif;
    font-size: 70px;
    padding: 0 20px 10px 20px;
    margin: 0 20px 20px 20px;
    background-color: #f0eae1;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.75);
//    text-shadow: 10px 5px #ccbdb1;
}

.rm-navbar {
    padding-top: 30px;
}

.my-navbar a {
    font-family: "Amatic SC", sans-serif;
    font-size: 28px;
    padding: 10px;
    text-transform: uppercase;
}

.rm-desktop li a {
    color: red;
}

.my-navbar a:hover {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.rm-desktop li a:hover {
    color: green;
}

.site-logo-text-icon img {
    display: none;
}

.region-header-col-1 {
    margin-top: 20px;
}

.outer-wrap.outer-wrap-flash {
//    overflow: hidden;
    width: 100%;
}

.inner-wrap-footer {
    max-width: 1500px;
}

.inner-wrap.inner-wrap-flash {
    max-width: 1500px;
}

.region-flash img {
    width: 100%;
}

.inner-wrap.inner-wrap-header {
    min-height: 170px;
    border-bottom: 10px dotted #78685c;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

h1 {
    border-bottom: none;
}

h1 a {
    color: #333;
}

.footer-column h4 {
    border-bottom: none;
}

img {
    //box-shadow: 10px 10px 5px 0px rgba(130,105,87,1);
}

figcaption {
    padding-top: 8px;
}

.article {
    margin-top: 2em;
    background-color: #f0eae1;
    padding: 20px;
    min-height: 300px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(169,160,144,1);
    -moz-box-shadow: 0px 0px 27px 0px rgba(169,160,144,1);
    box-shadow: 0px 0px 27px 0px rgba(169,160,144,1);
    background: linear-gradient(to bottom right, #f0eae1 0%, #f0eae1 50%, #e2dbd0 50%, #e2dbd0 100%);
    //border-radius: 25px;
}

.img-container {
    display: flex;
    flex-flow: row | wrap;
    justify-content: space-between;
    min-height: 600px;
}

.img-design {
    width: 23%;
    height: 300px;
}

.inner-wrap.inner-wrap-header {}

.outer-wrap.outer-wrap-main {}

.outer-wrap.outer-wrap-footer {
    background-color: #e2dbd0;
    background-image: linear-gradient(#e2dbd0, #a89f8f); //e2dbd0
    margin-top: 40px;
    //border-top: 3px dotted #78685c; ger vit bakgrund på dots
}

.inner-wrap.inner-wrap-footer {
    padding: 20px;
    background-color: transparent;
    border-top: 10px dotted #78685c;
}

.footer-column-x {
    &.footer-column-1.block h4 {
        background-color: #e2dbd0;
        transform: rotate(-4deg);
        width: 200px;
        margin: 24px auto;
    }
    &.footer-column-2.block h4 {
        background-color: #d1cabe;
        transform: rotate(4deg);
        width: 200px;
        margin: 24px auto;
    }
    &.footer-column-3.block h4 {
        background-color: #ede7dd; //ede7dd
        transform: rotate(-4deg);
        width: 200px;
        margin: 24px auto;
        color: red;
    }
}

.footer-column-x h4 {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}
